@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

  .group-photo {
    /* 20220821 Milstein Dinner Group 01 small 1 */
  }
  
  .title {
    /* Milstein Program Internship Resources */
  
    font-family: 'Gibson';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 45px;
    align-items: center;
    text-align: center;
  
    color: #000000;
  }
  
  .description {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  
  .description p {
    width: 950px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
  
    color: #000000;
  }
  
  .madewith {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  
  .madewith p {
    width: 593px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  
  .photo {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
  }

  hr {
    border: 1px solid #000000;
    width: 1000px;
  }